
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h4> Rate Limit Tester</h4>
        </div>
    </div>
</div>
<div class="subcontainer">
    <p>Click to send http requests. 10 requests will be sent in a time span of 30 seconds to test the ratelimiting capability.</p>
    <input id="sendRequests" type="submit" value="Send Requests" />
    <div id="response"></div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#sendRequests').on('click', function () {
            for (let i = 0; i < 10; i++) {
                $.ajax({
                    url: '/api/sum/getApiResponse?key=getapiresponse',
                    type: 'GET',
                    datatype: 'json',
                    contentType: 'application/json'
                })
                    .done(function (response) {
                        $('#response').append('<p>' + response + '</p>');
                    })
                    .fail(function (error) {
                        $('#response').append('<p>' + error.responseJSON.Message + '</p>');
                    })
            }
        })
    </script>
}